$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

$brand-primary: #9b59b6;
$brand-danger:  #e74c3c;
$brand-info:    #3498db;
$brand-success: #2ecc71;
$brand-warning: #f39c12;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

@include text-emphasis-variant('.text-primary', $brand-primary);

@include text-emphasis-variant('.text-success', $brand-success);

@include text-emphasis-variant('.text-info', $brand-info);

@include text-emphasis-variant('.text-warning', $brand-warning);

@include text-emphasis-variant('.text-danger', $brand-danger);

/**
 * App-wide Styles
 */

body {
  padding-bottom: 50px;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#bootquest-logo,
.default-avatar {
  background-color: #f0f0f0;
  display: inline-block;
  position: relative;

  &::after {
    content: 'Bq';
    font-family: 'Marck Script', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#bootquest-logo {
  width: 120px;
  height: 120px;

  &::after {
    font-size: 50px;
    font-size: 5rem;
    color: black;
  }
}

.default-avatar {
  width: 40px;
  height: 40px;
}

.row-heading {
  margin-bottom: 20px;
}

.btn-add {
  margin-top: 20px;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'character/character.scss';
@import 'main/main.scss';
@import 'footer/footer.scss';
@import 'navbar/navbar.scss';
// endinjector